@font-face {
    font-family: links-awakening;
    src: url(./fonts/ZeldaDXTTBRK.ttf);
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #001422;
    color: #ffffff;
}

h1 {
}

h2 {
    font-weight: normal;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    background: #001e2c;
}

.sections {
    display: flex;
    padding-left: 24px;
    gap: 32px;
}

.sections a,
.credits a {
    text-decoration: none;
}

.credits {
    display: flex;
    font-family: links-awakening;
    font-size: 20px;
    padding-right: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
